* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
}

p {
    margin: 0;
    font-weight: 400;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

address {
    font-style: normal;
}

button {
    font-family: inherit;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

nav,
footer,
header {
    display: block;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: var(--default-background);
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}

.section {
    padding: 60px 0;
    
    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }
}

.section__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    // @media screen and (min-width: 768px) and (max-width: 1199px) {
        
    // }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

// .section__item {
//     @media screen and (max-width: 767px) {
//         padding-bottom: 30px;
//     }
// }

// .section__item:last-child {
//     @media screen and (max-width: 767px) {
//         padding-bottom: 0;
//     }
// }

.section__title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 28px;
    color: var(--primary-title-color);

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}
