:root {
    --transition-duration: 250ms;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --accent-color: #2196F3;
    --primary-title-color: #212121;
    --primary-text-color: #757575;
    --text-dark-background: #fff;
    --dark-color: #000;
    --dark-background: #2F303A;
    --light-background: #F5F4FA;
    --default-background: #fff;
    --border-light: #ECECEC;
    --icon-color: #AFB1B8;
}