.advantages {
    @media screen and (min-width: 1200px) {
        padding-bottom: 0;
    }
}

.advantages__title--visually-hidden,
.portfolio__title--visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantages__item {
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) /2);
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 3 * 30px) /4);
    }
}

.advantages__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--light-background);
    border-radius: 4px;
}

.advantages__subtitle {
    display: block;
    margin-bottom: 10px;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--primary-title-color);

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.advantages__text {
    line-height: 1.71;
    color: var(--primary-text-color);
}