.portfolio-tabs {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 8px;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}

.portfolio__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

button.tab {
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--primary-title-color);
    background-color: var(--light-background);
    border-radius: 4px;
    transition: color var(--transition-duration) var(--transition-timing-function),
        background-color var(--transition-duration) var(--transition-timing-function),
        box-shadow var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--text-dark-background);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
    }
}

.portfolio-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.project-items {
    position: relative;
    z-index: 0;
    overflow: hidden;
    box-sizing: border-box;
    max-width: 450px;
    // min-height: 404px;
    background-color: var(--default-background);
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    transition: box-shadow var(--transition-duration), transform var(--transition-duration);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                    0px 4px 4px rgba(0, 0, 0, 0.06),
                    1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (min-width: 768px) {
        max-width: 354px;
        // min-height: 440px;
    }
    
    @media screen and (min-width: 1200px) {
        max-width: 370px;
        // min-height: 404px;
    }
}

.wrap-content {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.wrap-text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0px 50px;
    transition: transform var(--transition-duration) var(--transition-timing-function);

    &:hover {
        content: '';
        opacity: 1;
        height: 100%;
        transform: translateY(0);
    }
}

.project-text {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    max-width: 370px;
    height: 100%;
    padding: 63px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: rgb(255, 255, 255);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(101%);
    transition: transform var(--transition-duration) var(--transition-timing-function);

    &:hover {
        transform: translateY(0);
    }

    .project-items:hover &,
    .project-items:focus & {
        opacity: 1;
        transform: translateY(0);
    }
}

.project-wrap {
    padding: 20px 24px;
}

.project-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
}

.project-filter {
    font-size: 16px;
    line-height: 1.9;
    color: var(--primary-text-color);
}